:host {
    display: block;
    font-size: var(--f-xxs);
    line-height: 1.2;
    margin: .25rem 0;
    font-weight: 400;
    color: var(--f-theme-fader);
    -webkit-font-smoothing: subpixel-antialiased;
}

:host(:first-child) {
    margin-top: 0;
}

:host(:last-child) {
    margin-bottom: 0;
}